
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
</head>
<body>
    <div> 
        <div style="text-align:center;width:100%">
            <a href="/Test/HomePage">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/Test/AboutPage">About Us</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/Test/ContactPage">Contact Us</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/Demo/Index">Index</a>            
        </div>
        <hr />
        <h1>Home Page</h1>
        @{ 
            // c# code area
            int x = 100;
            float y = 12.34f;
        }
        <h1>X value is : @x</h1>
        <h2>Y value is : @y</h2>

    </div>
</body>
</html>
